@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login-container {
    @apply flex 2xl:grid 2xl:grid-cols-[61.15%_38.85%] min-h-dvh;
  }

  .login-image-container {
    @apply flex gap-2 w-full min-h-min flex-col items-center justify-center 2xl:pt-[52px] 2xl:pb-[24px];
    background-image: url('@/assets/images/bg-login.png');
    background-size: cover;
    background-position: center;
  }

  .login-form-container {
    @apply space-y-7 flex flex-col items-center justify-center px-[180px] py-[40px];
  }

  .login-mobile-card {
    @apply flex flex-col gap-7 items-center justify-center max-w-[480px] mx-auto w-full bg-white shadow-lg rounded-lg p-10;
  }
}
